@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(13, 148, 125, 0.815);
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: #ffffff;
    border-radius: 7px;
    padding: 15px;
    max-width: 70%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
}

p  {
    font-size: 20px;
}

#txtn{
    font-size: 15px;
}

#btn{
    font-size: 20px;
    margin-left: 15px;
}

#btn1{
    font-size: 20px;
    margin-top: 15px;
    display: block;
}

#txtArea{
    margin: 20px 0px 0px 0px;
    border: 1px solid black;
}


footer{
    color: white;
    margin: 25px 0px 0px 0px;
    text-align: center;
    font-style: italic;
}